extends layout

block content

  main
        
      form(action="empSignup" method="POST" class="userForm")
        input(type="text" name="emailInput" placeholder="Email")
        input(type="password" name="passwordInput" placeholder="Password")
        
        br
        
        input(type="text" name="fNameInput" placeholder="First Name")
        input(type="text" name="lNameInput" placeholder="Last Name")
        input(type="file" name="imageInput")
        
        br
        
        input(type="number" name="lidInput" placeholder="Store Id #")
        
        select(name="didInput")
          option Watches 
          option Handbags 
          option Jewelry 
          
          option Elizabeth Arden 
          option Clinique 
          option Este Lauder 
          option Lancôme 
          option Fragrance 
          
          option Suits 
          option Men's Shoes 
          option Urbanwear 
          option Accessories 
          option Big and Tall
           
          option Dresses 
          option Ready Wear
          option Women's Shoes 
          option Bedding 
          option China 
          option Boys 
          option Girls 
          option Infants 
 
        input(type="submit" class="submitUserInput" name="submitUserInput" value="Sign-up" )
