extends layout

block content

  main
        
      form(action="empSignup" method="POST" class="userForm")
        input(type="text" name="emailInput" placeholder="Email")
        input(type="password" name="passwordInput" placeholder="Password")
        
        br
        
        input(type="text" name="fNameInput" placeholder="First Name")
        input(type="text" name="lNameInput" placeholder="Last Name")
        input(type="file" name="imageInput")
        
        br
        
        input(type="number" name="lidInput" placeholder="Store Id #")
        input(type="text" name="didInput" placeholder="Department")


        input(type="submit" class="submitUserInput" name="submitUserInput" value="Sign-up" )
