extends layout

block content

  main
  
    
    div#locationsContainer

      h1 #{ title }
      table.table.table-stripped
        tbody
          each location, key in locationData
            //- tr(data-id="#{bookData.title}")
            //- td.action
            //-   //- button.btn.btn-danger.btn-sm.remove(type="button")
            //-   //-   span.glyphicon.glyphicon-remove(title="Remove")
            //- td.action
            div(class="searchInfo")
            
              img(src="/images/dillard_store.jpg")
              
              div#addressInfo
              
                h3= locationData[key].city + ", " + locationData[key].state
                p= locationData[key].address + " (" + locationData[key].zip + ")"
                
              div.searchResult
                
                


              
      script(type="text/javascript", src="routes/index.js") 
