extends layout

block content

  main
  
    
    div.admin

      h1 #{ title }
      table.table.table-stripped
        tbody
          each user, key in userData
            //- tr(data-id="#{bookData.title}")
            //- td.action
            //-   //- button.btn.btn-danger.btn-sm.remove(type="button")
            //-   //-   span.glyphicon.glyphicon-remove(title="Remove")
            //- td.action
            div(class="searchInfo")
              
            
              div.searchResult
                //- form(action="/editBook", method="post", id="newBookForm", class="libraryInfo")
                h3= userData[key].email
                //- h5= bookData[key].authors[0]
              //- div(class="toolPane")
              //-   a(href="/editBook/"+title) Edit
              //-   a(href="/deleteBook", value="Delete", name="delete", id="delete") Delete


              
      script(type="text/javascript", src="routes/index.js") 
